<header class="home">
        <nav class="nav container">
            <div class="nav_logo">
                <a href="/" class="nav_logo_link">
                <img class="nav_logo_link_img" src="" alt="Icon">
                </a>
                <h2 class="nav_title">
                    Tienda de Plantas
                </h2>
            </div>

            <ul class="nav_link nav_link-menu">
                <li class="nav_items">
                    <a href="#" class="nav_links">Inicio</a>
                </li>
                <li class="nav_items">
                    <a href="./pages/tienda.html" class="nav_links">Tienda</a>
                </li>
                <li class="nav_items">
                    <a href="./pages/misplantas.html" class="nav_links">Mis Plantas</a>
                </li>
                <li class="nav_items">
                    <a href="./pages/contacto.html" class="nav_links">Contacto</a>
                </li>

                <img src="./public/iconos/close.svg" class="nav_close" alt="imagenbarradenavegacion">
            </ul>
            <div class="nav_menu">
                <img src="./public/iconos/menu.svg" class="nav_img" alt="navimgen">
            </div>
        </nav>
            <section class="home_container container">
            <h1 class="home_title">Bienvenidos a la mejor tienda de Plantas</h1>
            <p class="home_paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates veritatis consectetur aliquam harum sapiente recusandae non eligendi delectus numquam quasi. Nisi quae dignissimos odit, temporibus fugit soluta ipsa similique suscipit.</p>
            <a href="" class="btn">!Ver promociones!</a>
            <!-- ---btn=cta -->
            </section>
    </header>